/*  your css code here. If applicable */
.container{
	width:1100px;
}
.imageContainer img{
	width:200px;
}
.textContainer{
	width:600px;
	text-align:center;
}
.textContainer h5{
	font-size:16px;
	margin:0;
}
.textContainer ul{
	list-style:none;	
}
table, th, td {
  border: 1px solid black;
  padding:2px;
}
